<h1>Import</h1>

<form action="{% url 'email_analysis:review' %}" method="post">
{% csrf_token %}
    <label>Full Email Text</label><br />
    <textarea id="full-text" name="full-text"></textarea>

    <input type="submit" value="Upload" />
</form>


<form action="{% url 'email_analysis:review' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <input type="file" id="email-file-import" name="email-file">

    <br /><br />

    <input type="submit" value="Upload" />
</form>

<a href="{% url 'email_analysis:index' %}">Return to email analysis page</a>