{% if email.pk %}
    <p>You are looking at email: {{ email.pk }}</p>

    <h3>Email Details:</h3>
    <ul>
        <li>Subject: {{ email.subject }}</li>
        <li>To: {{ email.recipient_email }}</li>
        <li>From: {{ email.sender_email }}</li>
        <li>From IP: {{ email.sender_ip }}</li>
    </ul>

    <h3>Hosts:</h3>
    <ul>
    {% for host in email.host_set.all %}
        <li>{{ host.host_name }}</li>
    {% endfor %}
    </ul>

    <h3>IP Addresses:</h3>
    <ul>
    {% for address in email.ipaddress_set.all %}
        <li>{{ address.ip_address }}</li>
    {% endfor %}
    </ul>

    <h3>URLs:</h3>
    <ul>
    {% for url in email.url_set.all %}
        <li>{{ url.url }} - ({{ url.url_file }})</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No email with this id</p>
{% endif %}

<a href="{% url 'emailanalysis:index' %}">< Return to email analysis page</a>