{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'emailanalysis/dropzone.css' %}" />
<script type="text/javascript" src="{% static 'emailanalysis/dropzone.js' %}"></script>

<h1>Upload</h1>

<form action="{% url 'emailanalysis:submit' %}" method="post">
{% csrf_token %}
    <label>Full Email Text</label><br />
    <textarea id="full-text" name="full-text"></textarea>

    <br /><br />

    <label>Email Subject</label><br />
    <input id="subject" name="subject"></input>

    <br /><br />

    <label>Recipient Email Address</label><br />
    <input id="recipient-email" name="recipient-email" type="email"></input>

    <br /><br />

    <label>Sender Email Address</label><br />
    <input id="sender-email" name="sender-email" type="email"></input>

    <br /><br />

    <label>Sender IP Address</label><br />
    <input id="sender-ip" name="sender-ip"></input>

    <br /><br />

    <input type="submit" value="Upload" />
</form>

<form id="my-dropzone" action="{% url 'emailanalysis:submit_file' %}" method="post" class="dropzone">{% csrf_token %}</form>
<button id="submit-all">Submit all files</button>

<a href="{% url 'emailanalysis:index' %}">< Return to email analysis page</a>

<script type="text/javascript" src="{% static 'emailanalysis/dropTest.js' %}"></script>